$global-color-accent: #E51843;
$global-link-hover-color: #E51843 !default;
$global-link-hover-color-dark: #E51843 !default;
$single-link-hover-color: #E51843 !default;
$single-link-hover-color-dark: #E51843 !default;

